/****************************************************************************************************
 **********		   																		   **********
 **********                                1. CSS STYLES                                   **********
 **********		   																		   **********
 ****************************************************************************************************/


@media print {
   .non-printable {
       display: none;
    }
    body {-webkit-print-color-adjust: exact;}
}

@media all { 
  div.pagebreak{ /* it should be under print and here only display:none, but that's not working */ 
    display:block;
    page-break-before:always;
  }
}

@page {
        size:  A4;   /* auto is the initial value */
        margin: 5mm;  /* this affects the margin in the printer settings */		
}

html
{
	background-color: #FFFFFF; 
	margin: 0px;  /* this affects the margin on the html before sending to printer */
}

body
{
	border: solid 0px blue ;
	margin: 0mm 0mm 0mm 0mm; /* margin you want for the content */
}

table {
	font-size: 12px !important;
}

h4 {
	margin-top: 20px;
  margin-bottom:5px;
  color: #029ADE;
  font-size: 15px;
}

.titlesBlue {
  color: #029ADE;
}

h6 {
	margin: 0px;
}

.section
{
	border-bottom: 0px solid #ccc;  /* line at the end of the section */
	margin-bottom: 0px; 
	padding-bottom: 0px;
	width: 900px;
	font-size: 15px;
}


.comment {
	font-style: italic;
	font-size: 11px;
}

.footnote {
	font-size: 9px;
}

.superindex 
{vertical-align:super} 

.head_logo{
	width:160px;
}


img.center {
    display: block;
    margin: 0 auto;
}

.download_manual {
  font-size: 11px;
  color: grey;
  font-weight: italic;
  text-align: center;
}

img.resize {
  height: 36px;
  width: auto;
}

/*autocomplete list menu*/

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.75;
  color: #333333;
  white-space: nowrap;
}

.center_text{
	text-align: center;
}
.align_to_left{
	text-align: left !important;
}
.align_to_right{
	text-align: right !important;
}

/* Organize content of div in equal-sized colons*/
.head_container {
	margin-top:2px;
	border-top: solid 3px #39547d ;
  	display: flex;
}
.head_container > div {
  flex: 1; /*grow*/
}

.textUnderTable {
	display: flex;
	justify-content: space-between;
	font-size: 10px;
	width: 100%;
}

/* lines for tables */
tr.bottom_line td,th {
  border-bottom: 2px solid #cad5e5;	/* Info : Border from first row table doesn't come from here. Just same property. */
}

/*  */

#monthlyTable th, #monthlyTable td {
  text-align: center;
}

#monthlyTable td:first-child {
  text-align: left;
}

th {
  text-align: left;
}

#cgiTable6 td:nth-child(2) {
  color: red;
}

/* for graphs */
.sameLine
{
	display: inline-block !important;
}
.newLine
{
	display: block !important;
}
.notShown
{
	display: none !important;
}

.map {
    border: 0;
    margin: 0px 0px 2px 10px;
}

.chart {
    border: 0;
    margin: 5px 10px 0px 0px;
}

/* inputs */
.chartParams {
  width: 100px;
  text-align: right; 
}

.table {
  border: none;
}

/*
.twoColumns {
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    width:900px;
}*/

#tabs {
	height:fit-content;
}

.configuration-section {
    counter-reset: footNoteListCounter;
}

#sortable2 li:before, #sortable3 li:before{
  	content: counter(footNoteListCounter); 
	counter-increment: footNoteListCounter;
    font-weight: bold;
    background: #007FFF;
    color:white;
    border-radius: 2px 6px;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 8px;
}

#sortable1, #sortable2, #sortable3 {
    border: 1px solid #eee;
    min-height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
	  min-width: 200px;
  }

  #sortable1 li, #sortable2 li, #sortable3 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1em;
  }

.FixedHeightContainer
{
  width:fit-content;
  padding:0px; 
}
.Content
{
  display:inline-block;
  max-width: 33%;
}

/* maps slider */
div.col {
    float: left;
    width: fit-content;
    padding-right: 20px;
}

.ui-slider-horizontal {
    height: 8px;
    width: 300px;
}
#font_size_slider {
    height: 8px;
    width: 166px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 25px;
    padding-left: 5px;
}


/* legend maps*/

.legendRectangle{
    width:20px;
    height:11px;
	border-style: solid;
    border-width: thin;
}

.legendSet{
	width:120px;
    height:120px;
	border-style: solid;
    border-width: thin;
	padding: 4px;
	background:white;
}

.legentSetElementText{
	font-size:10px;
	padding-left: 4px;
}
.legentSetTitle{
	font-size:12px;
}

.notasBene{
	font-size:10px;
	padding: 4px;
	border-style: solid;
  border-width: thin;
  margin: 1px 10px 10px 10px;
  width: fit-content;

}

#footer
{
	text-align:right;
	color: #4CAF50;
	font-style: italic;
	font-family:'Open Sans', verdana;
  margin: 20px 4px 4px 4px;
}

input {
  width:224px;
}

#progressbar {
  margin-top: 20px;
}

.progress-label {
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

/* dialogs */
.ui-dialog { z-index: 10000 !important ;}

.formTitle {
  text-align:center;
  color: grey;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  border: 3px solid #4CAF50;
  z-index: 9;
  font-family: Arial, Helvetica, sans-serif;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  font-size:12px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}